:root {
  --color-primary: #1D4ED8; 
  --color-primary-dark: #1E3A8A; 
  --color-white: #FFFFFF;
  --color-light-blue: #EFF6FF; 
  --color-gray-light: #F3F4F6;
  --color-gray: #9CA3AF;
  --color-gray-dark: #374151;

  --header-height: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  background-color: var(--color-light-blue);
  color: var(--color-gray-dark);
}

button {
  background: none;
  border: none;
  cursor: pointer;
}